.booking-modal {
	position: absolute;
	bottom: -1rem;
	margin: 0 auto;
	/* background-color: aqua; */
	width: 100%;
}
.center-booking-modal {
	border: 1px solid green;
	position: relative;
	width: 80%;
	/* background-color: brown; */
	margin: 0 auto;
}
.category-grid {
	display: flex;
	gap: 1em;
}
.grid-item {
	flex: 1;
	height: fit-content;
	border: 1px solid green;
}
.select-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: var(--light-grey);
	border: 1px solid var(--light-grey);
}

.selected {
	border: 1px solid var(--primary);
	background-color: var(--primary-light);
}
