.container {
	background-color: var(--marine);
}
.heading-container {
	background-color: var(--primary);
	padding: 2em;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: white;
}
.medical-centers {
	width: 100%;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	padding: 2em;
}
