.bookings {
}

.tab {
}
ul {
	list-style: none;
}
.day-list {
	padding-top: 0.2em;
	& > li {
		display: flex;
		border-top: 1px solid rgba(128, 128, 128, 0.224);
		padding-top: 1em;
		& > p {
			width: fit-content;
			min-width: 5em;
		}
	}
}
.time-list {
	display: flex;
	flex-direction: row;
	gap: 1em;
}
.time-capsule {
}
.selected-btn {
	background-color: cornflowerblue;
}
