.container {
	background-color: var(--marine);
	padding: 2em;
}
.availability-info {
	padding: 1em 0 2em;
	p {
		display: flex;
		align-items: center;
		padding-top: 0.5em;
		gap: 0.4em;
	}
}
.medical-centers {
	width: 100%;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	gap: 1em;
}
