footer {
	background-color: var(--secondary);
	color: white;
	padding: 2em;
	font-size: 1rem;
}
footer > div {
	padding: 1em 0;
}
footer > div:nth-child(1) {
	display: flex;
	& > * {
		flex: 1;
	}
	& > *:nth-child(1) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	padding-bottom: 2em;
	border-bottom: 0.5px solid rgba(190, 189, 189, 0.34);
}
.social-media-list {
	display: flex;
	gap: 1em;
}
.social-icons {
	background-color: white;
	padding: 0.3em;
	border-radius: 50%;
}
ul {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
li {
	display: flex;
	align-items: center;
}
