.ad-container {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	& > div {
		flex: 1;
		/* background-color: aqua; */
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	& img {
		width: 100%;
		height: 80%;
		object-fit: contain;
	}
}
